extends ./layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, debitis. Voluptate, itaque. Blanditiis veritatis porro ipsa suscipit cupiditate amet repellat itaque sequi temporibus! Aperiam eius molestias itaque ab aliquid dolore cum corrupti. Perspiciatis ipsa magni cumque nihil, perferendis provident in nam dolores facilis sapiente ratione consequuntur accusamus 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ratione iure omnis modi obcaecati nam! Ab, nulla aliquam ea omnis eum aperiam, enim a possimus, expedita voluptates repudiandae commodi soluta blanditiis 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imgane nosotros", class="img-fluid")                
        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido  
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2020 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
