extends ./layout/index
block contenido
    main.container.mt-5
        .row
            h1 #{pagina}
                main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blcokquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente soluta ad alias adipisci maxime. Dolor nulla optio quaerat eius quis veritatis possimus autem at tempore voluptas cumque, eveniet, cupiditate dolore? Labore cupiditate in unde officia illum sed iure. Illo consequuntur, quam voluptatum corrupti exercitationem culpa incidunt maxime quidem veritatis perferendis, asperiores

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quia soluta inventore alias rerum. Quasi eaque natus maiores quia a molestias blanditiis dicta hic. Adipisci molestiae impedit amet officia velit neque architecto voluptas maiores soluta=

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium voluptatem, cum quo aliquid, eius nihil consequatur placeat assumenda, atque quisquam adipisci exercitationem excepturi odio laborum porro perferendis quibusdam! Consequatur corporis enim, pariatur est necessitatibus at facere nemo quod architecto animi culpa placeat sed. Quae a eum quasi nisi aliquid!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguidad", class="img-fluid-mb-4")
                    h2.mb-4 Seguridad
                    p quibusdam! Consequatur corporis enim, pariatur est necessitatibus at facere nemo quod architecto animi culpa placeat sed. Quae a eum quasi nisi aliquid!

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguidad", class="img-fluid-mb-4")
                    h2.mb-4 Mejores Destinos
                    p quibusdam! Consequatur corporis enim, pariatur est necessitatibus at facere nemo quod architecto animi culpa placeat sed. Quae a eum quasi nisi aliquid!

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguidad", class="img-fluid-mb-4")
                    h2.mb-4 Mejores Precios
                    p quibusdam! Consequatur corporis enim, pariatur est necessitatibus at facere nemo quod architecto animi culpa placeat sed. Quae a eum quasi nisi aliquid!